<?xml version="1.0" encoding="UTF-8"?>
<config>
	<browser>
		<ie>*iexplore</ie>
		<firefox>*firefox</firefox>
	</browser>
	
	<url>
	<!-- <frontIndex>http://localhost:8080/buoqu/</frontIndex>
	<backIndex>http://localhost:8080/buoqu/admin/magazine/newEditMagazine.htm</backIndex> -->
	
		<frontIndex>http://192.168.0.61/buoqu</frontIndex>
		<backIndex>http://192.168.0.61/buoqu/back/index.htm</backIndex>
	</url>
	<userInfo>
		<user>craig</user>
	    <password>123456</password>
	</userInfo>

	<dataxml>
		<front>
			<Login>XML\data\front\Login.xml</Login>
			<Regist>XML\data\front\Regist.xml</Regist>
			<FrontLogin58>XML\data\front\FrontLogin58.xml</FrontLogin58>
		</front>
		<back>
			<BackNewMagazine28>XML\data\back\BackNewMagazine28.xml</BackNewMagazine28>
		</back>
	</dataxml>
</config>
